### __Домашняя работа №1__

Выполнили: Темнова Валерия, Шацкая Софья, Плотникова Анастасия

In [1]:
# импорт необходимых библиотек

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.sparse as sparse
import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns

Requirement already satisfied: seaborn in ./opt/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: scipy>=0.14.0 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.3.1)
Requirement already satisfied: numpy>=1.9.3 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.17.2)
Requirement already satisfied: matplotlib>=1.4.3 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: pandas>=0.15.2 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (0.25.1)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2019.3)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.4.0)

In [2]:
# загрузка файлов

ratings1 = pd.read_csv("ratings.csv")
#tags= pd.read_csv("tags.csv")
movies = pd.read_csv("movies.csv")

In [3]:
ratings = ratings1.merge(movies, on = 'movieId', how = 'inner')

In [4]:
ratings

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [5]:
#Строим матрицу фильмов для пользователя X

movieRatings = ratings.pivot_table(index=['userId'],columns=['title'],values = 'rating')

In [6]:
movieRatings

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [7]:
SummerRatings = movieRatings['(500) Days of Summer (2009)']

similarMovies = movieRatings.corrwith(SummerRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)

/Users/valeriatemnova/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/valeriatemnova/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [8]:
ratingsCount = 10
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
popularMovies = movieStats['rating']['size'] >= ratingsCount
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                              rating
                                                size      mean
title
Secrets & Lies (1996)                           11.0  4.590909
Guess Who's Coming to Dinner (1967)             11.0  4.545455
Paths of Glory (1957)                           12.0  4.541667
Streetcar Named Desire, A (1951)                20.0  4.475000
Celebration, The (Festen) (1998)                12.0  4.458333
Ran (1985)                                      15.0  4.433333
Shawshank Redemption, The (1994)               317.0  4.429022
His Girl Friday (1940)                          14.0  4.392857
All Quiet on the Western Front (1930)           10.0  4.350000
Hustler, The (1961)                             18.0  4.333333
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)   27.0  4.333333
Double Indemnity (1944)                         17.0  4.323529
It Happened One Night (1934)                    14.0  4.321429
Philadelphia Story, The (1940)                  29.0  4.310345
Living in Oblivion (1995)                       13.0  4.307692

In [9]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df.sort_values(['similarity'], ascending=False)[:10]

/Users/valeriatemnova/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                                 (rating, size)  (rating, mean)  similarity
title
Sweet Hereafter, The (1997)                16.0        4.250000         1.0
Doors, The (1991)                          37.0        3.405405         1.0
Last Man Standing (1996)                   13.0        2.500000         1.0
Harvey (1950)                              12.0        3.833333         1.0
Dawn of the Dead (2004)                    16.0        3.906250         1.0
Benny & Joon (1993)                        19.0        3.473684         1.0
Empire of the Sun (1987)                   10.0        3.950000         1.0
Beverly Hillbillies, The (1993)            20.0        2.675000         1.0
Limey, The (1999)                          14.0        3.892857         1.0
Beverly Hills Ninja (1997)                 16.0        2.468750         1.0

In [10]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
corrMatrix = userRatings.corr(method='pearson', min_periods=200)

In [11]:
myRatings = userRatings.loc[1].dropna()
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
  # Извлекаем фильмы, похожие на оцененные мной
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Далее оцениваем их сходство в зависимости от того, как я оценил тот или иной фильм
    sims = sims.map(lambda x: x * myRatings[i])
    # Добавляем индекс в список сравниваемых кандидатов
    simCandidates = simCandidates.append(sims)
    
simCandidates.sort_values(inplace = True, ascending = False)

In [12]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace = True, ascending = False)

In [13]:
#Предлагаемые фильмы, топ 10
simCandidates[:10]

Silence of the Lambs, The (1991)                                                  5.035846
Usual Suspects, The (1995)                                                        5.000000
Seven (a.k.a. Se7en) (1995)                                                       5.000000
Fight Club (1999)                                                                 5.000000
Matrix, The (1999)                                                                5.000000
Schindler's List (1993)                                                           5.000000
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.000000
Star Wars: Episode IV - A New Hope (1977)                                         5.000000
Star Wars: Episode V - The Empire Strikes Back (1980)                             5.000000
American Beauty (1999)                                                            5.000000
dtype: float64

In [14]:
movie_ids = ratings['movieId'].unique()

def scale_movie_id(movie_id):
    scaled = np.where(movie_ids == movie_id)[0][0] + 1
    return scaled

ratings['movieId'] = ratings['movieId'].apply(scale_movie_id)
ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [15]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(ratings, test_size=0.33)

print('Train shape: {}'.format(train_data.shape))
print('Test shape: {}'.format(test_data.shape))

# Train shape: (80000, 4)
# Test shape: (20000, 4)

Train shape: (67560, 6)
Test shape: (33276, 6)

In [16]:
from sklearn.metrics import mean_squared_error as mse

In [17]:
n_users = len(ratings['userId'].unique())
n_movies = len(ratings['movieId'].unique())
train_data_matrix = np.zeros((n_users, n_movies))
for line in train_data.itertuples():
    train_data_matrix[line[1] - 1, line[2] - 1] = line[3]
    
test_data_matrix = np.zeros((n_users, n_movies))
for line in test_data.itertuples():
    test_data_matrix[line[1] - 1, line[2] - 1] = line[3]

In [18]:
from  sklearn.metrics.pairwise import pairwise_distances

# считаем косинусное расстояние для пользователей и фильмов 
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [19]:
from scipy.spatial import distance

print(distance.cosine([2,2],[1,1])) 
print(distance.cosine([3,3],[2,3]))
print(distance.cosine([3, 3],[1, 1.5]))
print(distance.cosine([3, 3],[1, 3]))

0.0
0.01941932430907989
0.01941932430907989
0.10557280900008414

In [20]:
from  sklearn.metrics.pairwise import pairwise_distances

demo_data = [[5,5,5,0,0], [4,1,0,5,3], [1,0,0,5,0], [5,0,5,0,4]]
pairwise_distances(demo_data, metric='cosine')

array([[0.00000000e+00, 5.95773958e-01, 8.86772297e-01, 2.89330945e-01],
       [5.95773958e-01, 2.22044605e-16, 2.03609197e-01, 4.48439797e-01],
       [8.86772297e-01, 2.03609197e-01, 0.00000000e+00, 8.79298863e-01],
       [2.89330945e-01, 4.48439797e-01, 8.79298863e-01, 2.22044605e-16]])

In [21]:
#Наивный прогноз
# User-based collaborative filtering
def naive_predict(top):
    top_similar_ratings = np.zeros((n_users, top, n_movies))

    for i in range(n_users):
        # Для каждого пользователя необходимо получить наиболее похожих пользователей:
        top_sim_users = user_similarity[i].argsort()[1:top + 1] 
        top_similar_ratings[i] = train_data_matrix[top_sim_users]

    pred = np.zeros((n_users, n_movies))
    for i in range(n_users):
        pred[i] = top_similar_ratings[i].sum(axis=0) / top
    
    return pred


def naive_predict_item(top):
    top_similar_ratings = np.zeros((n_movies, top, n_users))

    for i in range(n_movies):
        top_sim_movies = item_similarity[i].argsort()[1:top + 1]
        top_similar_ratings[i] = train_data_matrix.T[top_sim_movies]
        
    pred = np.zeros((n_movies, n_users))
    for i in range(n_movies):
        pred[i] = top_similar_ratings[i].sum(axis=0) / top
    
    return pred.T

naive_pred = naive_predict(7)
print('User-based CF MSE: ', mse(naive_pred, test_data_matrix))

naive_pred_item = naive_predict_item(7)
print('Item-based CF MSE: ', mse(naive_pred_item, test_data_matrix))

User-based CF MSE:  0.10730593710601287
Item-based CF MSE:  0.11579505612860755

In [22]:
#Предсказание исходя из средних оценок похожих пользователей
def k_fract_predict(top):
    top_similar = np.zeros((n_users, top))
    
    for i in range(n_users):
        user_sim = user_similarity[i]
        top_sim_users = user_sim.argsort()[1:top + 1]#[-top:]

        for j in range(top):
            top_similar[i, j] = top_sim_users[j]
            
    abs_sim = np.abs(user_similarity)
    pred = np.zeros((n_users, n_movies))
    
    for i in range(n_users):
        indexes = top_similar[i].astype(np.int)
        numerator = user_similarity[i][indexes]
        
        product = numerator.dot(train_data_matrix[indexes])
        
        denominator = abs_sim[i][top_similar[i].astype(np.int)].sum()
        
        pred[i] = product / denominator
    
    return pred


def k_fract_predict_item(top):
    flag = True
    top_similar = np.zeros((n_movies, top))
    
    for i in range(n_movies):
        movies_sim = item_similarity[i]
        top_sim_movies = movies_sim.argsort()[1:top + 1]

        for j in range(top):
            top_similar[i, j] = top_sim_movies.T[j]
            
    abs_sim = np.abs(item_similarity)
    pred = np.zeros((n_movies, n_users))
    
    
    for i in range(n_users):
        indexes = top_similar[i].astype(np.int)
        numerator = item_similarity[i][indexes]
        
        product = numerator.dot(train_data_matrix.T[indexes])
        
        denominator = abs_sim[i][indexes].sum()
        denominator = denominator if denominator != 0 else 1
        
        pred[i] = product / denominator
        
    return pred.T


k_predict = k_fract_predict(7)
print('User-based CF MSE: ', mse(k_predict, test_data_matrix))

k_predict_item = k_fract_predict_item(7)
print('Item-based CF MSE: ', mse(k_predict_item, test_data_matrix))

User-based CF MSE:  0.10741870855844649
Item-based CF MSE:  0.08166109308427079

In [23]:
#Если делать через SVD

In [24]:
conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [25]:
from surprise import BaselineOnly
from surprise import SVD 
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate

In [26]:
ratings1 = ratings1.drop(['timestamp'], axis = 1)
ratings1.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
reader=Reader(rating_scale=(1,5))
df = Dataset.load_from_df(ratings1, reader)
algo = SVD(n_factors=160, n_epochs=100, lr_all=0.005, reg_all=0.1)
cross_validate(algo, df, measures=['RMSE','MSE'], cv=9, verbose=True)

In [ ]:
trainset, testset = train_test_split(data, test_size=0.17)
algorithm = SVD()
algorithm.fit(trainset)
predictions = algorithm.test(testset)

accuracy.mse(predictions)

# _Спасибо за внимание! Мы старались! Надеемся, что Вам понравились наши рекомендации_ ^_^